In [9]:
import sqlite3

conn = sqlite3.connect('movdb.db')

c = conn.cursor()

def create_table():
    c.execute("""CREATE TABLE IF NOT EXISTS Moviesdb(
          Sr_no INTEGER, 
          Movie_name TEXT,
          Actor_name TEXT,
          Actress_name TEXT,
          year_of_release INTEGER,
          Director_name TEXT
          )
          """)
    
def table_entry():
    
    c.execute("INSERT INTO Moviesdb VALUES(1,'Roohi','Rajkummar Rao','Janhvi Kapoor',2021,'Hardik Mehta')");
    c.execute("INSERT INTO Moviesdb VALUES(2,'WAR','Hrithik Roshan','Vaani Kapoor',2019,'Siddharth Anand')");
    c.execute("INSERT INTO Moviesdb VALUES(3,'Sanju','Ranbir Kapoor','Sonam Kapoor',2018,'Rajkumar Hirani')");
    c.execute("INSERT INTO Moviesdb VALUES(4,'Kabir Singh','Shahid Kapoor','Kiara Advani',2019,'Sandeep Reddy Vanga')");
    c.execute("INSERT INTO Moviesdb VALUES(5,'Raees','Shah Rukh Khan','Mahira Khan',2017,'Rahul Dholakia')");
    c.execute("INSERT INTO Moviesdb VALUES(6,'Ae Dil Hai Mushkil','Ranbir Kapoor','Anushka Sharma',2016,'Karan Johar')");
    c.execute("INSERT INTO Moviesdb VALUES(7,'Tiger Zinda Hai','Salman Khan','Katrina Kaif',2017,'Ali Abbas Zafar')");
    c.execute("INSERT INTO Moviesdb VALUES(8,'Stree','Rajkummar Rao','Shraddha Kapoor',2018,'Amar Kaushik')");
    c.execute("INSERT INTO Moviesdb VALUES(9,'Badla','Amitabh Bachchan','Taapsee Pannu',2019,'Sujoy Ghosh')");
    c.execute("INSERT INTO Moviesdb VALUES(10,'Good Newwz','Akshay Kumar','Kareena Kapoor',2019,'Raj Mehta')");
    c.execute("INSERT INTO Moviesdb VALUES(11,'M.S. Dhoni','Sushant Singh Rajput','Kiara Advani',2016,'Neeraj Pandey')");
    c.execute("INSERT INTO Moviesdb VALUES(12,'PK','Aamir Khan','Anushka Sharma',2014,'Rajkumar Hirani')");
    c.execute("INSERT INTO Moviesdb VALUES(13,'3 Idiots','Aamir Khan','Kareena Kapoor',2009,'Rajkumar Hirani')");
    c.execute("INSERT INTO Moviesdb VALUES(14,'Student of the Year','Sidharth Malhotra','Alia Bhatt',2012,'Karan Johar')");
    c.execute("INSERT INTO Moviesdb VALUES(15,'Boss','Akshay Kumar','Aditi Rao Hydari',2013,'Anthony DSouza')");

conn.commit()

create_table()
table_entry()

In [13]:
print("Sr_no \t Movie_name \t Actor_name \t Actress_name \t year_of_release \t Director_name \n")

cursor = c.execute("SELECT * FROM Moviesdb");

for row in cursor:
    print(row[0],"\t",row[1],"\t",row[2],"\t",row[3],"\t",row[4],"\t", row[5],"\n")

conn.close()

Sr_no 	 Movie_name 	 Actor_name 	 Actress_name 	 year_of_release 	 Director_name

1 	 Roohi 	 Rajkummar Rao 	 Janhvi Kapoor 	 2021 	 Hardik Mehta

2 	 WAR 	 Hrithik Roshan 	 Vaani Kapoor 	 2019 	 Siddharth Anand

3 	 Sanju 	 Ranbir Kapoor 	 Sonam Kapoor 	 2018 	 Rajkumar Hirani

4 	 Kabir Singh 	 Shahid Kapoor 	 Kiara Advani 	 2019 	 Sandeep Reddy Vanga

5 	 Raees 	 Shah Rukh Khan 	 Mahira Khan 	 2017 	 Rahul Dholakia

6 	 Ae Dil Hai Mushkil 	 Ranbir Kapoor 	 Anushka Sharma 	 2016 	 Karan Johar

7 	 Tiger Zinda Hai 	 Salman Khan 	 Katrina Kaif 	 2017 	 Ali Abbas Zafar

8 	 Stree 	 Rajkummar Rao 	 Shraddha Kapoor 	 2018 	 Amar Kaushik

9 	 Badla 	 Amitabh Bachchan 	 Taapsee Pannu 	 2019 	 Sujoy Ghosh

10 	 Good Newwz 	 Akshay Kumar 	 Kareena Kapoor 	 2019 	 Raj Mehta

11 	 M.S. Dhoni 	 Sushant Singh Rajput 	 Kiara Advani 	 2016 	 Neeraj Pandey

12 	 PK 	 Aamir Khan 	 Anushka Sharma 	 2014 	 Rajkumar Hirani

13 	 3 Idiots 	 Aamir Khan 	 Kareena Kapoor 	 2009 	 Rajkumar Hirani

14 	 Student of the Year 	 Sidharth Malhotra 	 Alia Bhatt 	 2012 	 Karan Johar

15 	 Boss 	 Akshay Kumar 	 Aditi Rao Hydari 	 2013 	 Anthony DSouza